.nav-bar {
  background: #f9f1e7;
  padding: 35.5px 0;
}

.nav-bar-deltail {
  display: flex;
  gap: 23px;
  align-items: center;
}

.fa-solid {
  text-decoration: none;
  font-family: "Poppins";
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #9f9f9f;
}

.nav-bar-link {
  text-decoration: none;
  font-family: "Poppins";
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #9f9f9f;
}

.nav-bar-link1 {
  padding: 8px 32px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #9f9f9f;
  border: none;
  border-style: solid;
  border-width: 0 0 0 2px;
  border-color: #9f9f9f;
  margin-left: 8px;
}

.deltail-product {
  margin-top: 27px;
}

.detail-product-list {
  display: flex;
  width: 100%;
  gap: 40px;
}

.detail-product-img {
  display: flex;
  width: 80%;
}

.detail-product-img1 {

  width: 20%;
}

.detail-product-img1 img {
  /* object-fit: cover; */
  width: 100%;
}

.detail-product-img2 img {
  object-fit: cover;
  width: 100%;
  /* height: 100%; */
}

.detail-product-item {
  width: 100%;
}

.detail-title h2 {
  font-size: 40px;
}

.detail-price h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #9f9f9f;
}

.detail-evaluate {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 14px 0;
}

.fa-solid {
  color: #ffa500;
}

.custom-review {
  color: #9f9f9f;
  border: none;
  border-style: solid;
  border-width: 0 0 0 2px;
  border-color: #9f9f9f;
  /* margin-left: 8px; */
  font-size: 12px;
  padding: 5px 10px;
}

.detail-reviews p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  width: 424px;
  height: 80px;
  top: 398px;
  left: 734px;
}

.text-size {
  margin: 16px 0px;
  font-size: 15px;
  color: #9f9f9f;
}

.size {
  display: flex;
  align-items: center;
  gap: 15px;
}

.size-l:hover {
  background-color: #ffa500;
  color: #fff;
}

.size-m:hover {
  background-color: #ffa500;
  color: #fff;
}

.size-s:hover {
  background-color: #ffa500;
  color: #fff;
}

.size-l {
  font-size: 16px;

  border: none;
  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
  border-color: #f9f1e7;
  background-color: #f9f1e7;
  padding: 5px 10px;
}

.size-m {
  font-size: 16px;

  border: none;
  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
  border-color: #f9f1e7;
  background-color: #f9f1e7;
  padding: 5px 10px;
}

.size-s {
  font-size: 16px;

  border: none;
  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
  border-color: #f9f1e7;
  background-color: #f9f1e7;
  padding: 5px 10px;
}


.color {
  display: flex;
  align-self: center;
  gap: 15px;
}

.line-pruduct {
  margin: 50px 0;
  background-color: #f9f1e7;
}

.detail-listtocart {
  margin: 16px 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

.slots {
  border: none;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #9f9f9f;
  padding: 23px 18px;
}

.remove {
  padding: 0 10px;
  font-size: 16px;

  cursor: pointer;
}

.slot {
  padding: 0 10px;
  font-size: 16px;
}

.add {
  padding: 0 10px;
  cursor: pointer;
  font-size: 16px;
}

.detail-addtocarts {
  border: none;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #9f9f9f;
  padding: 23px 73px;
  cursor: pointer;
  font-size: 16px;
}

.detail-compare {
  border: none;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #9f9f9f;
  padding: 23px 76px;
  cursor: pointer;
  font-size: 16px;
}

th {
  text-align: left;
  display: inline-block;
  padding: 5px 14px 5px 0;
}

.icon {
  display: flex;
  gap: 20px;
  align-items: center;
  /* text-align: center; */
  font-size: 22px;
  padding: 0 10px;
}

td {
  font-size: 16px;
}

.itemss {
  padding: 0 10px;
}

.title-line {
  width: 100%;
  margin-top: 62px;
  background-color: #f9f1e7;
}

/* Default styles */
.nav-informations {
  margin-top: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 30px;
}

.text-informations {
  text-decoration: none;
  font-size: 25px;
  padding: 0 30px;
  color: #9f9f9f;
}

.text-informations:hover {
  color: #000;
}

.title-information {
  margin-top: 39px;
  text-align: center;
  color: #9f9f9f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: justify;
}

.img-information {
  margin-top: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.img-information1 {
  width: 100%;
}

.img-information2 {
  width: 100%;
}

/* Media queries for desktop screens */
@media only screen and (min-width: 992px) {
  .nav-informations {
    margin-top: 20px;
    /* Adjust as needed */
  }

  .text-informations {
    font-size: 20px;
    /* Adjust as needed */
    padding: 0 20px;
    /* Adjust as needed */
  }

  .title-information {
    margin-top: 30px;
    height: auto;
    text-align: left;
    /* Adjust as needed */
  }

  .img-information {
    margin-top: 20px;
    /* Adjust as needed */
  }
}

/* Media queries for mobile screens */
@media only screen and (max-width: 767px) {
  .nav-informations {
    flex-direction: column;
    gap: 10px;
  }

  .text-informations {
    font-size: 18px;
    /* Adjust as needed */
    padding: 0 10px;
    /* Adjust as needed */
  }

  .title-information {
    margin-top: 20px;
    /* Adjust as needed */
  }

  .img-information {
    flex-direction: column;
    gap: 20px;
  }
}

.news {
  margin-bottom: 95px;
}

.relate-product-showmore {
  margin-top: 30px;
  margin-right: 60px;
  text-align: center;
}

.btn-showmore {
  border: none;
  border-style: solid;
  border-width: 2px;
  border-color: #b88e2f;
  font-size: 16px;
  padding: 10px 35px;
  color: #b88e2f;
}