* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

img {
  width: 100%;
}

body {
  padding: 0 16px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header nav {
  display: flex;
  justify-content: space-between;
  place-items: center;
}

header nav .title {
  font-weight: 700;
  font-size: 16px;
}

header nav menu ul li {
  display: inline-block;
  padding: 0 8px;
}

header nav menu ul li:last-child {
  padding-right: 0;
}

header nav menu ul li a {
  font-size: 12px;
  color: black;
}

header nav menu ul li a:hover {
  color: red;
}

header nav menu ul li a:active {
  color: cyan;
}

main .banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 16px 0;
}

main .banner .title {
  align-self: center;
}

main .banner .title h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 12px;
}

main .banner .title h2 img {
  vertical-align: middle;
  width: 20%;
}

main .banner .title p {
  font-size: 16px;
  color: #4A5568;
}

.bar {
  display: flex;
  justify-content: space-between;

}

.bar span {
  font-size: 10px;
  color: #718096;
}

.bar a {
  font-size: 10px;
  font-weight: 700;
  color: #2D3748;
}

.bar a:hover {
  color: red;
}

.bar a:active {
  color: cyan;
}

.content {
  display: grid;
  grid-template-columns: 1fr 45%;
  border-radius: 10px 0 0 10px;
  border: 1px solid #E2E2E2;
}

.content .text {
  align-self: center;
  padding: 20px;
}

.content .text h3 {
  font-size: 20px;
  font-weight: 700;
  color: #2D3748;
}

.content .text p {
  font-size: 10px;
  color: #718096;
  margin: 16px 0;
}

.content img {
  height: 100%;
}

main .card {
  margin: 16px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.card .item .text h4 {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #2D3748;
}

.card .item .text p {
  margin: 8px 0;
  font-size: 10px;
  color: #718096;
}

main .content-highlight {
  display: grid;
  grid-template-columns: 1fr 55%;
  background: #F7FAFC;
}

.content-highlight .text {
  align-self: center;
  padding: 32px;
}

.content-highlight .text h2 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.content-highlight .text p {
  color: #718096;
  margin: 16px 0;
  font-size: 8px;
}

.content-highlight .text .bar span {
  font-size: 8;
}

.content-highlight .text .bar .a {
  font-size: 8;
}

main .more {
  display: flex;
  justify-content: flex-end;
}

.more button {
  background: #6B46C1;
  border-radius: 6px;
  border: none;
  padding: 6px;
  margin: 16px 0;
}

.more button a {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
}

.more button a:hover {
  color: cyan;
}

.more button a:active {
  color: aquamarine;
}

i {
  vertical-align: middle;
}

footer {
  border-top: 1px solid #E8E8E8;
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
}

footer .title {
  color: #000;
  font-size: 12px;
}

footer .icon i {
  font-size: 16px;
  margin: 0 8px;
}

@media only screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  body {
    padding: 0;
  }

  header nav .title {
    font-size: 18px;
  }

  header nav menu ul li a {
    font-size: 14px;
  }

  main .banner {
    margin: 32px 0;
  }

  main .banner .title h2 {
    font-size: 40px;
    margin-bottom: 16px;
  }

  main .banner .title p {
    font-size: 20px;
  }

  .bar span {
    font-size: 11px;
  }

  .bar a {
    font-size: 11px;
  }

  .content .text {
    padding: 35px;
  }

  .content .text h3 {
    font-size: 25px;
    font-weight: 700;
    color: #2D3748;
  }

  .content .text p {
    font-size: 12px;
    margin: 24px 0;
  }

  main .card {
    margin: 26px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .card .item .text h4 {
    margin-top: 12px;
    font-size: 18px;
  }

  .card .item .text p {
    margin: 12px 0;
    font-size: 12px;
  }

  .content-highlight .text {
    align-self: center;
    padding: 32px;
  }

  .content-highlight .text h2 {
    font-size: 30px;
  }

  .content-highlight .text p {
    margin: 24px 0;
    font-size: 12px;
  }

  .content-highlight .text .bar span {
    font-size: 12;
  }

  .content-highlight .text .bar .a {
    font-size: 12;
  }

  .more button {
    padding: 6px;
    margin: 24px 0;
  }

  .more button a {
    font-size: 14px;
  }

  footer {
    padding: 16px 0;
  }

  footer .title {
    font-size: 14px;
  }

  footer .icon i {
    font-size: 18px;
    margin: 0 12px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  header nav .title {
    font-size: 20px;
  }

  header nav menu ul li a {
    font-size: 16px;
  }

  main .banner {
    margin: 64px 0;
  }

  main .banner .title h2 {
    font-size: 60px;
    margin-bottom: 20px;
  }

  main .banner .title p {
    font-size: 30px;
  }

  .bar span {
    font-size: 12px;
  }

  .bar a {
    font-size: 12px;
  }

  .content .text {
    padding: 35px;
  }

  .content .text h3 {
    font-size: 30px;
    font-weight: 700;
    color: #2D3748;
  }

  .content .text p {
    font-size: 14px;
    margin: 32px 0;
  }

  main .card {
    margin: 36px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 36px;
  }

  .card .item .text h4 {
    margin-top: 16px;
    font-size: 20px;
  }

  .card .item .text p {
    margin: 16px 0;
    font-size: 14px;
  }

  .content-highlight .text {
    align-self: center;
    padding: 64px;
  }

  .content-highlight .text h2 {
    font-size: 40px;
  }

  .content-highlight .text p {
    margin: 32px 0;
    font-size: 16px;
  }

  .content-highlight .text .bar span {
    font-size: 16;
  }

  .content-highlight .text .bar .a {
    font-size: 16;
  }

  .more button {
    padding: 8px;
    margin: 32px 0;
  }

  .more button a {
    font-size: 16px;
  }

  footer {
    padding: 18px 0;
  }

  footer .title {
    font-size: 16px;
  }

  footer .icon i {
    font-size: 20px;
    margin: 0 16px;
  }
}